/* Obszar gry. */
Div.ObszarGry
{
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    top: 0;
    z-index: -1;
}

    /* Lista graczy. */
    Div.ObszarGry > Div.ListaGraczy
    {
        max-width: 44.5vw;
        max-height: 15.56vw;
        text-align: center;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-3);
        margin-top: auto;
        margin-left: 2.5vw;
        margin-bottom: 2.5vw;
        padding: 1.0vw 0.5vw;
        overflow-y: auto;
    }
        /* Lista graczy. */
        Div.ObszarGry > Div.ListaGraczy > Div
        {
            max-width: 44.1vw;
            text-align: left;
        }

    /* nadpisanie czatu. */
    Div.ObszarGry > Div.Chat-Box
    {
        /*width: 28vw;*/
        width: 35vw;
        margin: auto 2.5vw 2.5vw auto;
    }
