/* Nagłówek. */
Div.XHeader
{
    width: 89.0vw;
    font-size: 1.0rem;
    border-radius: var(--Radius-II);
    margin: 1.0vw auto 1.5vw auto;
    display: flex;
}
    /* Styl globalny dla piewszych dzieci. */
    Div.XHeader > *
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }
    /* Lewy nagłówek. */
    Div.XHeader > Div.XHeaderLewy
    {
        padding-left: 0.8vw;
        padding-right: 0.8vw;
    }
    /* Środkowy nagłówek. */
    Div.XHeader > Div.XHeaderSrodek
    {
        min-width: 10vw;
        padding-right: 0.8vw;
    }
    /* Prawy nagłówek. */
    Div.XHeader > Div.XHeaderPrawy
    {
        margin-left: auto;
        padding-right: 0.8vw;
        padding-left: 0.8vw;
    }

/* Styl 1. */
Div.XHeader1
{
    background-color: var(--Motyw);
}

/* Styl 2. */
Div.XHeader2
{
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25%;
    background-color: var(--Motyw);
    background-image: linear-gradient(to right, var(--Motyw), transparent 190%), var(--Tło-Dodatkowe);
}

/* Styl 3. */
Div.XHeader3
{}
    Div.XHeader3 > Div.XHeaderLewy
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-II) 0 0 var(--Radius-II);
    }
    Div.XHeader3 > Div.XHeaderSrodek
    {
        background-color: var(--Motyw);
        border-radius: 0 var(--Radius-II) var(--Radius-II) 0;
    }
    Div.XHeader3 > Div.XHeaderPrawy
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-II);
    }


