/* RoomFrame. */
Div.InfoBar
{
    max-width: 56.0vw;
    font-size: 1.0rem;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0.5vw;
    display: flex;
    cursor: pointer;
}
    /* Ostatni albo jedyny nie ma marginesu dolnego. */
    Div.InfoBar:last-of-type, Div.InfoBar:only-of-type
    {
        margin-bottom: 0.0vw;
    }

    /* Środkowe Elementy Pola. */
    Div.InfoBar > Div
    {
        background-color: var(--Motyw-Ciemny);
        border-right: 0.2vw solid;
        border-right-color: var(--Motyw);
        transition: var(--Animacja);
    }

    /* Po Najechaniu. */
    Div.InfoBar:hover > Div
    {
        background-color: var(--Motyw-Czarny)!important;
    }

    /* Po Aktywacji. */
    Div.InfoBar:active > Div
    {
        background-color: var(--Motyw)!important;
    }

    /* Pierwszy Element Pola. */
    Div.InfoBar > Div:first-of-type
    {
        border-radius: var(--Radius-2) 0 0 var(--Radius-2);
        border-left: 0.3vw solid;
        border-left-color: var(--Kolor-Dodatkowy);
    }

    /* Ostatni Element Pola. */
    Div.InfoBar > Div:last-of-type
    {
        border-radius: 0 var(--Radius-2) var(--Radius-2) 0;
        border-right: 0.3vw solid;
        border-right-color: var(--Kolor-Dodatkowy);
    }

    /* Jedyny Element Pola. */
    Div.InfoBar > Div:only-of-type
    {
        border-radius: var(--Radius-2);
        border-right: 0.3vw solid;
        border-left: 0.3vw solid;
        border-right-color: var(--Kolor-Dodatkowy);
        border-left-color: var(--Kolor-Dodatkowy);
    }

/* Element w Polu [Duży]. */
Div.InfoBar-Big
{
    width: 31.0vw;
    min-height: 1.8vw;
    text-align: center;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: inherit;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
}

/* Element w Polu [Średni]. */
Div.InfoBar-Middle
{
    width: 13.0vw;
    min-height: 1.8vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
}

/* Element w Polu [Mały]. */
Div.InfoBar-Small
{
    width: 8.0vw;
    min-height: 1.8vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
}

/* Element w Polu [Mały]. */
Div.InfoBar-Tiny
{
    width: 2.0vw;
    min-height: 1.8vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
}


/* Nieaktywny. */
Div.InfoBar-Inactive > Div,
Div.InfoBar-Inactive:hover > Div,
Div.InfoBar-Inactive:active > Div
{
    color: var(--Kolor-Oznaczenia)!important;
    background-color: var(--Motyw-Ciemny-Przezroczysty)!important;
    border-color: var(--Motyw-Ciemny)!important;
    cursor: auto!important;
}

/* Aktywny. */
Div.InfoBar-Active > Div
{
    color: var(--Kolor-Oznaczenia)!important;
}
    /* Odcinek Obejrzany. */
    Div.InfoBar-Active > Div:first-of-type
    {
        border-left-color: var(--Kolor-Oznaczenia)!important;
    }
    /* Odcinek Obejrzany. */
    Div.InfoBar-Active > Div:last-of-type
    {
        border-right-color: var(--Kolor-Oznaczenia)!important;
    }
