/* Blokada Klikania Li. */
Li.XMLi-Nieklikalny
{
    width: var(--Przycisk-Szerokość-I);
    min-height: var(--Przycisk-Wysokość);
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}
    /* Po Najechaniu i Kliknięciu. */
    Li.XMLi-Nieklikalny:hover, Li.XMLi-Nieklikalny:active
    {
        background-color: var(--Motyw-Ciemny)!important;
    }