/* Pole Czatu. */
.Chat-Box
{
    width: initial;
    min-width: 15vw;
    margin-left: auto;
    margin-right: auto;
}

/* Okienko Czatu. */
.Chat
{
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: var(--Motyw-Przezroczysty);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-4);
    margin-bottom: 0.5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    display: flex;
}
    /* Pole z wiadomościami. */
    .Chat > Div
    {
        width: 100%;
        min-height: 20vw;
        height: 32vw;
        overflow-y: auto;
    }


/* Pole pobierające wiadomości. */
.ChatInput
{
    display: flex;
}
    /* Input czatu. */
    .ChatInput > Input[type="text"]
    {
        width: 100%!important;
        height: 3.0vw!important;
        border-radius: var(--Radius-2);
        flex: 1;
    }
    /* Przycisk wysyłający. */
    .ChatInput > .Button
    {
        width: 3.0vw;
        height: 3.0vw;
        border-radius: var(--Radius-2);
        margin-left: 0.3vw;
    }
