/* RoomBar [A]. */
Div.EpisodeBar
{
    width: min-content;
    max-width: 55.8vw;
    font-size: 1rem;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0.8vw;
    margin-bottom: 0.5vw;
    display: flex;
}
/* Środkowe Elementy Pola. */
Div.EpisodeBar > Div
{
    background-color: var(--Motyw-Ciemny);
    border-right: 0.2vw solid;
    border-right-color: var(--Motyw);
    transition: var(--Animacja);
}
/* Po Najechaniu. */
Div.EpisodeBar:hover > Div
{
    background-color: var(--Motyw-Czarny)!important;
}
/* Po Aktywacji. */
Div.EpisodeBar:active > Div
{
    background-color: var(--Motyw)!important;
}
/* Pierwszy Element Pola. */
Div.EpisodeBar > Div:first-of-type
{
    background-color: var(--Motyw-Ciemny);
    border-radius: var(--Radius-II) 0 0 var(--Radius-II);
    border-left: 0.3vw solid;
    border-left-color: var(--Kolor-Dodatkowy);
}
/* Ostatni Element Pola. */
Div.EpisodeBar > Div:last-of-type
{
    background-color: var(--Motyw-Ciemny);
    border-radius: 0 var(--Radius-II) var(--Radius-II) 0;
    border-right: 0.3vw solid;
    border-right-color: var(--Kolor-Dodatkowy);
}
/* Jedyny Element Pola. */
Div.EpisodeBar > Div:only-of-type
{
    background-color: var(--Motyw-Ciemny);
    border-radius: var(--Radius-II);
    border-right: 0.3vw solid;
    border-left: 0.3vw solid;
    border-right-color: var(--Kolor-Dodatkowy);
    border-left-color: var(--Kolor-Dodatkowy);
}
/* Element w Polu [Duży]. */
Div.EpisodeBar-Duży
{
    width: 31.0vw;
    min-height: 1.8vw;
    text-align: center;
    align-items: center;
    justify-content: left;
    text-align: left;
    font-size: inherit;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
}
/* Element w Polu [Średni]. */
Div.EpisodeBar-Średni
{
    width: 13.0vw;
    min-height: 1.8vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
}
/* Element w Polu [Mały]. */
Div.EpisodeBar-Mały
{
    width: 8.0vw;
    min-height: 1.8vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
}
/* Element w Polu [Mały]. */
Div.EpisodeBar-Mini
{
    width: 2.0vw;
    min-height: 1.8vw;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
}

/*!* Odcinek Niewydany. *!*/
/*Div.RoomBar [A]-NieWydane > Div, Div.RoomBar [A]-NieWydane:hover > Div, Div.RoomBar [A]-NieWydane:active > Div*/
/*{*/
/*    background-color: var(--Motyw-Ciemny)!important;*/
/*    border-color: var(--Motyw-Ciemny)!important;*/
/*}*/
/*!* Oznaczenie, że Obejrzane. *!*/
/*Div.RoomBar [A]-Odwiedzony Div*/
/*{*/
/*    color: var(--Motyw-Oznaczenia)!important;*/
/*}*/
/*!* Oznaczenie, że Obejrzane. *!*/
/*Div.RoomBar [A]-Odwiedzony Div:first-of-type*/
/*{*/
/*    border-left-color: var(--Motyw-Oznaczenia)!important;*/
/*}*/
/*!* Oznaczenie, że Obejrzane. *!*/
/*Div.RoomBar [A]-Odwiedzony Div:last-of-type*/
/*{*/
/*    border-right-color: var(--Motyw-Oznaczenia)!important;*/
/*}*/

