/* Menu. */
.Menu
{
    font-weight: bold;
    list-style: none;
    margin: 0.0vw var(--Przycisk-Odstep-X);
    padding: 0.0vw;
    display: flex;
    user-select: none;
    z-index: 5;
}

.Menu > Li:last-of-type, .Menu > Li:only-of-type
{
    margin: 0.0vw;
}

/* Element listy. */
.Menu > Li
{
    width: 100%;
    min-height: var(--Przycisk-Wysokość);
    font-size: 1.0rem;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: var(--Kolor-Dodatkowy);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-1);
    margin-right: var(--Przycisk-Odstep-X);
    display: flex;
    cursor: pointer;
    transition: var(--Animacja);
    box-shadow: var(--Przycisk-Cienie);
}
    /* Wygląd po najechaniu na Li. */
    .Menu Li:hover
    {
        background-color: var(--Motyw-Ciemny)!important;
    }
    /* Wygląd po Kliknięciu na Li. */
    .Menu Li:active
    {
        background-color: var(--Motyw)!important;
    }
    /* Wygląd linku w Li. */
    .Menu Li > A
    {
        width: 100%;
        height: 100%;
        align-items: center;
        text-align: center;
        justify-content: center;
        padding: 0.5vw;
        display: flex;
    }


/* Wygląd rozwiniętego elementu menu [Ukryte]. */
.Menu > Li > .Menu
{
    width: 100%;
    background-color: var(--Motyw);
    border-radius: 0.0vw 0.0vw var(--Radius-3) var(--Radius-3);
    list-style: none;
    margin: 0.0vw;
    padding: 0.2vw 0.0vw 0.2vw 0.0vw;
    display: none;
    position: absolute;
    top: 100%;
    left: 0.0vw;
    cursor: default;
}
    /* Uwidacznianie elementu menu po najechaniu. */
    .Menu > Li:hover > .Menu
    {
        display: block;
    }

/* Wygląd Li wewnątrz rozwiniętego menu. */
.Menu > Li > .Menu > Li
{
    width: 90%;
    font-size: 1.0rem;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--Kolor-Dodatkowy);
    border-radius: var(--Radius-1);
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    cursor: pointer;
    transition: var(--Animacja);
    box-shadow: var(--Przycisk-Cienie);
}


/* Zapobiega niepotrzebnemu miganiu. */
Li.Menu-Disabled:hover
{
    background-color: var(--Motyw-Ciemny)!important;
}
