/* Pole Loga. */
/* Design 1. */
A.ButtonLogo-D1
{
    width: 2.8vw;
    height: 2.8vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Motyw);
    border-radius: var(--Radius-1);
    padding: 0.25vw;
    display: inline-flex;
    cursor: pointer;
    transform: var(--Animacja);
    user-select: none;
}

/* Po najechaniu. */
A.ButtonLogo-D1:hover
{
    background-color: var(--Motyw-Ciemny)!important;
}

/* Po kliknięciu. */
A.ButtonLogo-D1:active
{
    background-color: var(--Motyw)!important;
}

    /* Wygląd Zdjęcia w Przycisku. */
    A.ButtonLogo-D1 > Img
    {
        max-width: 85%;
        max-height: 85%;
    }

    /* Wygląd Nazwy w Przycisku. */
    A.ButtonLogo-D1 > Div
    {
        font-weight: bold;
        margin-left: 0.25vw;
    }
        /* Wygląd Nazwy w Przycisku. */
        A.ButtonLogo-D1 > *:first-child
        {
            margin-left: 0.0vw!important;
        }


/* Design 2. */
A.ButtonLogo-D2
{
    width: max-content;
    min-width: 2.8vw;
    height: 2.8vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.0rem;
    background-color: var(--Motyw);
    border-radius: var(--Radius-1);
    padding: 0.25vw 0.5vw;
    display: inline-flex;
    cursor: pointer;
    transform: var(--Animacja);
    user-select: none;
}

/* Po najechaniu. */
A.ButtonLogo-D2:hover
{
    background-color: var(--Motyw-Ciemny)!important;
}

/* Po kliknięciu. */
A.ButtonLogo-D2:active
{
    background-color: var(--Motyw)!important;
}

    /* Wygląd Zdjęcia w Przycisku. */
    A.ButtonLogo-D2 > Img
    {
        max-width: 85%;
        max-height: 85%;
        margin-right: 0.5vw;
    }

    /* Wygląd Nazwy w Przycisku. */
    A.ButtonLogo-D2 > Div
    {
        font-weight: bold;
    }
        /* Wygląd Nazwy w Przycisku. */
        A.ButtonLogo-D2 > *:first-child
        {
            margin-left: 0.0vw!important;
        }
