/* Przycisk Loga. */
/* Design 1. */
.ButtonLogo-D1
{
    width: 2.8vw;
    height: 2.8vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Motyw);
    border-radius: var(--Radius-1);
    padding: 0.25vw;
    display: inline-flex;
    cursor: pointer;
    transform: var(--Animacja);
    user-select: none;
}

/* Po najechaniu. */
.ButtonLogo-D1:hover
{
    background-color: var(--Motyw-Ciemny)!important;
}

/* Po kliknięciu. */
.ButtonLogo-D1:active
{
    background-color: var(--Motyw)!important;
}

    /* Wygląd pola zdjęcia. */
    .ButtonLogo-D1 > Div:nth-child(1)
    {
        width: 2.8vw;
        height: 2.8vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
    }
        /* Wygląd Zdjęcia. */
        .ButtonLogo-D1 > Div:nth-child(1) > Img
        {
            max-width: 80%;
            max-height: 80%;
        }

    /* Wygląd Nazwy w Przycisku. */
    .ButtonLogo-D1 > Div:nth-child(2)
    {
        font-weight: bold;
        margin-left: 0.25vw;
    }

/* Design 2. */
.ButtonLogo-D2
{
    width: max-content;
    min-width: 2.8vw;
    height: 2.8vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.0rem;
    background-color: var(--Motyw);
    border-radius: var(--Radius-1);
    padding: 0.25vw 0.5vw;
    display: inline-flex;
    cursor: pointer;
    transform: var(--Animacja);
    user-select: none;
}

/* Po najechaniu. */
.ButtonLogo-D2:hover
{
    background-color: var(--Motyw-Ciemny)!important;
}

/* Po kliknięciu. */
.ButtonLogo-D2:active
{
    background-color: var(--Motyw)!important;
}

    /* Wygląd Pola zdjęcia. */
    .ButtonLogo-D2 > Div:nth-child(1)
    {
        width: 2.8vw;
        height: 2.8vw;
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
    }
        /* Wygląd Zdjęcia. */
        .ButtonLogo-D2 > Div:nth-child(1) > Img
        {
            max-width: 80%;
            max-height: 80%;
        }

    /* Wygląd Nazwy w Przycisku. */
    .ButtonLogo-D2 > Div:nth-child(2)
    {
        font-weight: bold;
        margin-left: 0.25vw;
    }
