/* Main. */
/* Design 1. */
Main.Main-D1
{
    text-align: center;
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    display: flex;
}
    /* Wygląd Bez Prawego Menu. */
    Main.Main-D1 > Div:only-of-type
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

/* Pole dla Artykułów. */
Main.Main-D1 > Div
{
    width: min-content;
    margin-left: auto;
}
    /* Artykół main'a. */
    Main.Main-D1 > Div > Article.MainArticle
    {
        width: 56vw;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-III);
        margin-bottom: 1.0vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 2.0vw;
        padding-right: 2.0vw;
        display: inline-table;
    }
    /* Artykół main'a. */
    Main.Main-D1 > Div > Article.MainArticle:last-of-type
    {
        margin-bottom: 0.0vw;
    }

/* Panel boczny Maina. */
Main.Main-D1 > Div.MainPanel
{
    width: 13.0vw;
    height: max-content;
    text-align: center;
    justify-content: center;
    background-color: var(--Motyw-Przezroczysty);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-III);
    margin-left: 0.5vw;
    margin-right: auto;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    display: inline-grid;
}

    /* Nagłówek panela bocznego. */
    Main.Main-D1 > Div.MainPanel > Div.MainPanel-Title
    {
        font-size: 1.35rem;
        font-weight: bold;
        margin-bottom: 0.5vw;
    }

    /* Hr oddzielający w panelu bocznym. */
    Main.Main-D1 > Div.MainPanel > Hr
    {
        height: 0.2vw;
        width: var(--Przycisk-Szerokość-III);
        background-color: var(--Kolor-Dodatkowy);
        border: 0.0vw solid;
        border-radius: var(--Radius-I);
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }


/* Design 2. */
Main.Main-D2
{
    width: max-content;
    text-align: center;
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    margin-left: auto;
    margin-right: auto;
}

/* Pole dla Artykułów. */
Main.Main-D2 > Div
{
    width: min-content;
}
    /* Artykół main'a. */
    Main.Main-D2 > Div > Article.MainArticle
    {
        width: 56vw;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-III);
        margin-bottom: 1.0vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 2.0vw;
        padding-right: 2.0vw;
        display: inline-table;
    }
    /* Artykół main'a. */
    Main.Main-D2 > Div > Article.MainArticle:last-of-type
    {
        margin-bottom: 0.0vw;
    }

/* Panel boczny Maina. */
Main.Main-D2 > Div.MainPanel
{
    text-align: center;
    justify-content: left;
    background-color: var(--Motyw-Przezroczysty);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-II);
    margin-bottom: 0.5vw;
    padding-top: 1.0vw;
    padding-bottom: 1.0vw;
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    display: flex;
}

/* Nagłówek panela bocznego. */
Main.Main-D2 > Div.MainPanel > Div.MainPanel-Title
{
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

/* Hr oddzielający w panelu bocznym. */
Main.Main-D2 > Div.MainPanel > Hr
{
    height: 0.2vw;
    width: var(--Przycisk-Szerokość-III);
    background-color: var(--Kolor-Dodatkowy);
    border: 0.0vw solid;
    border-radius: var(--Radius-I);
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}


/* Design 1. */
Main.Main-D3
{
    text-align: center;
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    display: flex;
}
/* Wygląd Bez Prawego Menu. */
Main.Main-D3 > Div:only-of-type
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Pole dla Artykułów. */
Main.Main-D3 > Div
{
    width: min-content;
    margin-right: auto;
}
    /* Artykół main'a. */
    Main.Main-D3 > Div > Article.MainArticle
    {
        width: 56vw;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-III);
        margin-bottom: 1.0vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 2.0vw;
        padding-right: 2.0vw;
        display: inline-table;
    }
    /* Artykół main'a. */
    Main.Main-D3 > Div > Article.MainArticle:last-of-type
    {
        margin-bottom: 0.0vw;
    }

/* Panel boczny Maina. */
Main.Main-D3 > Div.MainPanel
{
    width: 13.0vw;
    height: max-content;
    text-align: center;
    justify-content: center;
    background-color: var(--Motyw-Przezroczysty);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-III);
    margin-right: 0.5vw;
    margin-left: auto;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    display: inline-grid;
}

/* Nagłówek panela bocznego. */
Main.Main-D3 > Div.MainPanel > Div.MainPanel-Title
{
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

/* Hr oddzielający w panelu bocznym. */
Main.Main-D3 > Div.MainPanel > Hr
{
    height: 0.2vw;
    width: var(--Przycisk-Szerokość-III);
    background-color: var(--Kolor-Dodatkowy);
    border: 0.0vw solid;
    border-radius: var(--Radius-I);
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}