/* Main. */
/* Design 1. */
Main.Main-D1
{
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    display: flex;
}
    /* Wygląd Bez Prawego Menu. */
    Main.Main-D1 > Div:only-of-type
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

/* Pole dla Artykułów. */
Main.Main-D1 > Div.ArticleArea
{
    width: min-content;
    align-self: flex-start;
    margin-left: auto;
}
    /* Artykół main'a. */
    Main.Main-D1 > Div.ArticleArea > Article.MainArticle
    {
        width: 56vw;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-4);
        margin-bottom: 1.0vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 2.0vw;
        padding-right: 2.0vw;
    }
    /* Ostatni artykół main'a. */
    Main.Main-D1 > Div.ArticleArea > Article.MainArticle:last-of-type
    {
        margin-bottom: 0.0vw;
    }

/* Pole dla Paneli. */
Main.Main-D1 > Div.PanelArea
{
    width: min-content;
    align-self: flex-start;
    margin-right: auto;
}

    /* Panel boczny Maina. */
    Main.Main-D1 > Div.PanelArea > Div.MainPanel
    {
        width: 13.0vw;
        text-align: center;
        justify-content: center;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-4);
        margin-left: 0.5vw;
        margin-bottom: 0.5vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 1.0vw;
        padding-right: 1.0vw;
        display: grid;
    }
    /* Usunięcie marginesu dolnego u ostatniego panela. */
    Main.Main-D1 > Div.PanelArea > Div.MainPanel:last-of-type
    {
        margin-bottom: 0.0vw;
    }

        /* Nagłówek panela bocznego. */
        Main.Main-D1 > Div.PanelArea > Div.MainPanel > Div.MainPanel-Title
        {
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 0.5vw;
        }


/* Design 2. */
Main.Main-D2
{
    width: max-content;
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    margin-left: auto;
    margin-right: auto;
}

/* Pole dla Artykułów. */
Main.Main-D2 > Div.ArticleArea
{
    width: min-content;
}
    /* Artykół main'a. */
    Main.Main-D2 > Div.ArticleArea > Article.MainArticle
    {
        width: 56vw;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-4);
        margin-bottom: 1.0vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 2.0vw;
        padding-right: 2.0vw;
    }
    /* Ostatni artykół main'a. */
    Main.Main-D2 > Div.ArticleArea > Article.MainArticle:last-of-type
    {
        margin-bottom: 0.0vw;
    }

/* Pole dla Paneli. */
Main.Main-D2 > Div.PanelArea
{
    margin-bottom: 0.5vw;
    display: flex;
}

    /* Panel boczny Maina. */
    Main.Main-D2 > Div.PanelArea > Div.MainPanel
    {
        text-align: center;
        justify-content: left;
        align-items: center;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-3);
        margin-right: 0.5vw;
        padding-top: 1.0vw;
        padding-bottom: 1.0vw;
        padding-left: 1.0vw;
        padding-right: 1.0vw;
        display: flex;
    }
        /* Usunięcie marginesu prawego dla ostatniego Panela. */
        Main.Main-D2 > Div.PanelArea > Div.MainPanel:last-of-type
        {
            margin-right: 0.0vw;
        }

        /* Nagłówek panela bocznego. */
        Main.Main-D2 > Div.PanelArea > Div.MainPanel > Div.MainPanel-Title
        {
            font-size: 1.1rem;
            font-weight: bold;
            justify-content: center;
            align-items: center;
            text-align: center;
            margin-right: 0.25vw;
            display: flex;
        }


/* Design 3. */
Main.Main-D3
{
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    display: flex;
}
/* Wygląd Bez Prawego Menu. */
Main.Main-D3 > Div:only-of-type
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Pole dla Artykułów. */
Main.Main-D3 > Div.ArticleArea
{
    width: min-content;
    align-self: flex-start;
    margin-right: auto;
}
    /* Artykół main'a. */
    Main.Main-D3 > Div.ArticleArea > Article.MainArticle
    {
        width: 56vw;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-4);
        margin-bottom: 1.0vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 2.0vw;
        padding-right: 2.0vw;
    }
    /* Ostatni artykół main'a. */
    Main.Main-D3 > Div.ArticleArea > Article.MainArticle:last-of-type
    {
        margin-bottom: 0.0vw;
    }

/* Pole dla Paneli. */
Main.Main-D3 > Div.PanelArea
{
    width: min-content;
    align-self: flex-start;
    margin-left: auto;
}

    /* Panel boczny Maina. */
    Main.Main-D3 > Div.PanelArea > Div.MainPanel
    {
        width: 13.0vw;
        height: max-content;
        text-align: center;
        justify-content: center;
        background-color: var(--Motyw-Przezroczysty);
        backdrop-filter: var(--Blur);
        border-radius: var(--Radius-4);
        margin-right: 0.5vw;
        margin-bottom: 0.5vw;
        padding-top: 1.5vw;
        padding-bottom: 1.5vw;
        padding-left: 1.0vw;
        padding-right: 1.0vw;
        display: grid;
    }
    /* . */
    Main.Main-D3 > Div.PanelArea > Div.MainPanel:last-of-type
    {
        margin-bottom: 0.0vw;
    }

        /* Nagłówek panela bocznego. */
        Main.Main-D3 > Div.PanelArea > Div.MainPanel > Div.MainPanel-Title
        {
            font-size: 1.1rem;
            font-weight: bold;
            margin-bottom: 0.5vw;
        }
