/* Niepubliczny Root. */
:root
{
    --Szerokosc: 92.0vw;
    --MinWysokosc: 4.0vw;
}

/* Design 1. */
Div.Header-D1
{
    width: var(--Szerokosc);
    min-height: var(--MinWysokosc);
    font-size: 1.0rem;
    border-radius: var(--Radius-III);
    background-color: var(--Motyw);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25%;
    margin: 1.0vw auto 1.5vw auto;
    display: flex;
}
    /* Styl globalny dla piewszych dzieci. */
    Div.Header-D1 > *
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }
    /* Lewy nagłówek. */
    Div.Header-D1 > Div.HeaderLeft
    {
        padding-left: 1.5vw;
        padding-right: 1.0vw;
    }
    /* Środkowy nagłówek. */
    Div.Header-D1 > Div.HeaderCenter
    {
        min-width: 5vw;
        padding-right: 1.5vw;
    }
    /* Prawy nagłówek. */
    Div.Header-D1 > Div.HeaderRight
    {
        margin-left: auto;
        padding-right: 1.5vw;
        padding-left: 1.5vw;
    }


/* Design 2. */
Div.Header-D2
{
    width: var(--Szerokosc);
    min-height: var(--MinWysokosc);
    background-image: none!important;
    font-size: 1.0rem;
    margin: 1.0vw auto 1.5vw auto;
    display: flex;
}
    /* Styl globalny dla piewszych dzieci. */
    Div.Header-D2 > *
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }
    Div.Header-D2 > Div.HeaderLeft
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-III) 0 0 var(--Radius-III);
        padding-left: 1.3vw;
        padding-right: 0.3vw;
    }
    Div.Header-D2 > Div.HeaderCenter
    {
        min-width: 5vw;
        background-color: var(--Motyw);
        border-radius: 0 var(--Radius-III) var(--Radius-III) 0;
        padding-right: 1.3vw;
    }
    Div.Header-D2 > Div.HeaderRight
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-III);
        margin-left: auto;
        padding-right: 1.3vw;
        padding-left: 1.3vw;
    }
