/* Szeroki przycisk XPWybor. */
Div.XPWybor
{
    min-width: var(--Przycisk-Wysokość);
    height: var(--Przycisk-Wysokość);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Motyw);
    backdrop-filter: var(--Blur);
    border: 0.2vw solid var(--Motyw);
    box-sizing: border-box;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    display: flex;
    cursor: pointer;
}

    /* Wygląd Img w przycisku. */
    Div.XPWybor > Img:nth-child(1)
    {
        height: 75%;
        max-width: 4.0vw;
        display: block;
    }

    /* Wygląd Img w przycisku. */
    Div.XPWybor > Img:nth-child(2)
    {
        height: 0.7vw;
        max-width: 0.7vw;
        background-color: var(--Motyw-Czarny);
        backdrop-filter: var(--Blur);
        border-radius: 0.23vw;
        display: block;
        position: absolute;
        top: 1.1vw;
        left: 1.1vw;
    }

/* Styl 1. */
Div.XPWybor-S1
{
    border-radius: var(--Radius-I);
}

/* Styl 2. */
Div.XPWybor-S2
{
    min-width: 0.0vw;
    width: 0.8vw;
    height: 0.8vw;
    border-radius: var(--Radius-III);
}
    Div.XPWybor-S2 > Img
    {
        display: none!important;
    }

/* Aktywny. */
.XPWybor-Aktywny
{
    background-color: var(--Motyw-Ciemny)!important;
    border-color: var(--Kolor-Dodatkowy)!important;
}