/* Hr. */
.Hr
{
    height: 0.2vw;
    background-color: var(--Kolor-Dodatkowy);
    border: 0.0vw solid;
    border-radius: var(--Radius-1);
    margin: 0.3vw 0.0vw;
}


/* Dodatkowy margines dolny Hr. */
.Hr-MarginBottom
{
    margin-bottom: 1.0vw!important;
}