/* Main. */
/* Design 1. */
Main.XMain-D1
{
    text-align: center;
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    display: flex;
}
    /* Wygląd Bez Prawego Menu. */
    Main.XMain-D1 > Div:only-of-type
    {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

/* Główny main. */
Main.XMain-D1 > Div.XMainMain
{
    width: 56vw;
    background-color: var(--Motyw-Przezroczysty);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-III);
    margin-left: auto;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 2.0vw;
    padding-right: 2.0vw;
    display: inline-table;
}

/* Panel boczny Maina. */
Main.XMain-D1 > Div.XMainPanel
{
    width: 13.0vw;
    height: max-content;
    text-align: center;
    justify-content: center;
    background-color: var(--Motyw-Przezroczysty);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-III);
    margin-left: 0.5vw;
    margin-right: auto;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    display: inline-grid;
}

    /* Nagłówek panela bocznego. */
    Main.XMain-D1 > Div.XMainPanel > Div.XMainPanel-Title
    {
        font-size: 1.35rem;
        font-weight: bold;
        margin-bottom: 0.5vw;
    }

    /* Hr oddzielający w panelu bocznym. */
    Main.XMain-D1 > Div.XMainPanel > Hr
    {
        height: 0.2vw;
        width: var(--Przycisk-Szerokość-III);
        background-color: var(--Kolor-Dodatkowy);
        border: 0.0vw solid;
        border-radius: var(--Radius-I);
        margin-top: 0.5vw;
        margin-bottom: 0.5vw;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }


/* Design 2. */
Main.XMain-D2
{
    width: max-content;
    text-align: center;
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    margin-left: auto;
    margin-right: auto;
    /*display: flex;*/
}

/* Główny main. */
Main.XMain-D2 > Div.XMainMain
{
    width: 56vw;
    background-color: var(--Motyw-Przezroczysty);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-III);
    /*margin-left: auto;*/
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 2.0vw;
    padding-right: 2.0vw;
    /*display: block;*/
}

/* Panel boczny Maina. */
Main.XMain-D2 > Div.XMainPanel
{
    width: 56vw;;
    text-align: center;
    justify-content: left;
    /*background-color: var(--Motyw-Przezroczysty);*/
    /*backdrop-filter: var(--Blur);*/
    /*border-radius: var(--Radius-III);*/
    /*margin-right: auto;*/
    padding-top: 0.5vw;
    padding-bottom: 0.5vw;
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    display: flex;
}

/* Nagłówek panela bocznego. */
Main.XMain-D2 > Div.XMainPanel > Div.XMainPanel-Title
{
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

/* Hr oddzielający w panelu bocznym. */
Main.XMain-D2 > Div.XMainPanel > Hr
{
    height: 0.2vw;
    width: var(--Przycisk-Szerokość-III);
    background-color: var(--Kolor-Dodatkowy);
    border: 0.0vw solid;
    border-radius: var(--Radius-I);
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}


/* Design 1. */
Main.XMain-D3
{
    text-align: center;
    margin-top: 2.0vw;
    margin-bottom: 1.0vw;
    display: flex;
}
/* Wygląd Bez Prawego Menu. */
Main.XMain-D3 > Div:only-of-type
{
    margin-left: auto;
    margin-right: auto;
    display: block;
}

/* Główny main. */
Main.XMain-D3 > Div.XMainMain
{
    width: 56vw;
    background-color: var(--Motyw-Przezroczysty);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-III);
    margin-right: auto;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 2.0vw;
    padding-right: 2.0vw;
    display: inline-table;
}

/* Panel boczny Maina. */
Main.XMain-D3 > Div.XMainPanel
{
    width: 13.0vw;
    height: max-content;
    text-align: center;
    justify-content: center;
    background-color: var(--Motyw-Przezroczysty);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-III);
    margin-right: 0.5vw;
    margin-left: auto;
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
    padding-left: 1.0vw;
    padding-right: 1.0vw;
    display: inline-grid;
}

/* Nagłówek panela bocznego. */
Main.XMain-D3 > Div.XMainPanel > Div.XMainPanel-Title
{
    font-size: 1.35rem;
    font-weight: bold;
    margin-bottom: 0.5vw;
}

/* Hr oddzielający w panelu bocznym. */
Main.XMain-D3 > Div.XMainPanel > Hr
{
    height: 0.2vw;
    width: var(--Przycisk-Szerokość-III);
    background-color: var(--Kolor-Dodatkowy);
    border: 0.0vw solid;
    border-radius: var(--Radius-I);
    margin-top: 0.5vw;
    margin-bottom: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
}