/* Przycisk z blurem, który częśto jest używany do prezentacji obrazków do zmiany. */
Div.XPWybor
{
    min-width: var(--Przycisk-Wysokość);
    height: var(--Przycisk-Wysokość);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Motyw);
    box-sizing: border-box;
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-II);
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    display: flex;
    cursor: pointer;
}

    /* Wygląd Img w przycisku. */
    Div.XPWybor > Img
    {
        height: 65%;
        max-width: 4.0vw;
        display: block;
    }


/* Wygląd Aktywowanego Przycisku. */
.XPWybor-Aktywny
{
    background-color: var(--Motyw-Ciemny)!important;
    border: 0.2vw solid var(--Kolor-Dodatkowy)!important;
}

/* Wygląd Aktywowanego Przycisku. */
.XPWybor-Aktywny > Img
{
    height: calc(65% + 0.2vw)!important;
}