/* Ramka Wiadomości. */
Div.NewsFrame
{
    width: 55.5vw;
    background-color: var(--Motyw-Ciemny);
    border-radius: var(--Radius-4);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5vw;
    display: flex;
    overflow: hidden;
}
    /* Ostatni/Jedyny bez marginesu dolnego. */
    Div.NewsFrame:last-of-type, Div.NewsFrame:only-of-type
    {
        margin-bottom: 0.0vw!important;
    }

/* Lewe pole z obrazkiem. */
Div.NewsFrame > Div.NewsFrame-Left
{
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Motyw);
    border-radius: 0 var(--Radius-4) var(--Radius-4) 0;
    padding: 1vw;
    display: flex;
}
    /* Wygląd obrazka. */
    Div.NewsFrame > Div.NewsFrame-Left > Img
    {
        max-width: 25vw;
        max-height: 12vw;
        border-radius: var(--Radius-3);
    }

/* Prawe pole z informacjami. */
Div.NewsFrame > Div.NewsFrame-Right
{
    padding: 1vw;
    flex: 1;
}
    /* Pole tytułowe z datą. */
    Div.NewsFrame > Div.NewsFrame-Right > Div:nth-child(1)
    {
        color: var(--Kolor-Oznaczenia);
        align-items: end;
        font-weight: bold;
        display: flex;
    }
        /* Tytuł. */
        Div.NewsFrame > Div.NewsFrame-Right > Div:nth-child(1) > Div:nth-child(1)
        {
            font-size: 1.1rem;
        }

        /* Data. */
        Div.NewsFrame > Div.NewsFrame-Right > Div:nth-child(1) > Div:nth-child(2)
        {
            font-size: 0.8rem;
            margin-left: auto;
        }

    /* Opis wiadomości. */
    Div.NewsFrame > Div.NewsFrame-Right > Div:nth-child(3)
    {
        font-size: 1.0rem;
    }
