/* Textarea. */
Textarea.Textarea
{
    width: 0.0vw;
    min-width: var(--Button-Width-1);
    max-width: calc(100% - 1.5vw);
    min-height: 1.5vw;
    height: 5.0vw;
    max-height: 10vw;
    font-size: 1.15rem;
    color: white;
    font-weight: bold;
    background-color: var(--Motyw);
    backdrop-filter: var(--Blur);
    border: 0.2vw solid var(--Kolor-Dodatkowy);
    border-radius: var(--Radius-1);
    margin-left: var(--Space-X);
    margin-right: var(--Space-X);
    padding: 0.4vw 0.5vw 0.4vw 0.5vw;
}
    /* Styl zaznaczenia. */
    Textarea.Textarea:focus, Textarea.Textarea:active, Textarea.Textarea:valid:not(:placeholder-shown)
    {
        background-color: var(--Motyw-Ciemny);
    }
