/* Root. */
:root
{
    --Motyw: rgba(51, 51, 51, 1.0);
    --Motyw-Przezroczysty: rgba(51, 51, 51, 0.8);
    --Motyw-PolPrzezroczysty: rgba(51, 51, 51, 0.5);
    --Motyw-Ciemny: rgba(38, 38, 38, 1.0);
    --Motyw-Ciemny-Przezroczysty: rgba(38, 38, 38, 0.8);
    --Motyw-Czarny: rgba(0, 0, 0, 0.4);

    --Kolor-Oznaczenia: rgba(169, 169, 169, 1.0);
    --Kolor-Negatywny: rgba(180, 40, 40, 1);
    --Kolor-Pozytywny: rgba(0, 105, 0, 1);
    --Kolor-Ostrzezezenia: rgba(209, 98, 0, 1);
    --Kolor-Informacji: rgba(0, 163, 204, 1);

    --Animacja: background-color 0.05s ease-in-out, color 0.0s ease-in-out;
    --Blur: blur(2.5vw);

    /*--Tło-Menu: url("");*/

    --Tło-Strony: url("https://cdn.openart.ai/stable_diffusion/9527cd1e77a614a32dd167420d1f1c0e535b5673_2000x2000.webp");

    --Kolor-Dodatkowy: rgba(87, 159, 100, 0.8);
    /*--Kolor-Dodatkowy: rgba(87, 159, 100, 1.0);*/


    --Radius-1: 0.7vw;
    --Radius-2: 1.0vw;
    --Radius-3: 1.3vw;
    --Radius-4: 1.5vw;

    --Button-Height: 2.45vw;
    --Button-Width-1: 10.0vw;
    --Button-Width-2: 11.0vw;
    --Button-Width-3: 12.0vw;
    --Button-Width-4: 13.0vw;

    --Space-X: 0.13rem;
    --Space-Y: 0.3rem;

    --Przycisk-Cienie: -0.1vw -0.1vw 0.1vw rgba(0, 0, 0, 0.03), 0.1vw 0.1vw 0.1vw rgba(0, 0, 0, 0.03);
}




/* Globalne szerokości. */
.Width-0 /* Wyłączenie min. szerokości. */
{
    min-width: 0.0vw !important;
}
.Width-1 /* Szerokość 1. */
{
    min-width: var(--Button-Width-1) !important;
}
.Width-2 /* Szerokość 2. */
{
    min-width: var(--Button-Width-2) !important;
}
.Width-3 /* Szerokość 3. */
{
    min-width: var(--Button-Width-3) !important;
}
.Width-4 /* Szerokość 4. */
{
    min-width: var(--Button-Width-4) !important;
}

/* Globalne Kolory tła. */
.BackgroundColor-1 /* Kolor aktywny. */
{
    background-color: var(--Motyw-Czarny) !important;
}
.BackgroundColor-2 /* Kolor Zielony. */
{
    background-color: var(--Kolor-Pozytywny) !important;
}
.BackgroundColor-3 /* Kolor Pomarańczowy. */
{
    background-color: var(--Kolor-Ostrzezezenia) !important;
}
.BackgroundColor-4 /* Kolor Czerwony. */
{
    background-color: var(--Kolor-Negatywny) !important;
}
.BackgroundColor-5 /* Kolor Niebieski. */
{
    background-color: var(--Kolor-Informacji) !important;
}

/* Globalny Kolor obramowania. */
.BorderColor-1 /* Kolor aktywny. */
{
    border-color: var(--Motyw-Czarny) !important;
}
.BorderColor-2 /* Kolor Zielony. */
{
    border-color: var(--Kolor-Pozytywny) !important;
}
.BorderColor-3 /* Kolor Pomarańczowy. */
{
    border-color: var(--Kolor-Ostrzezezenia) !important;
}
.BorderColor-4 /* Kolor Czerwony. */
{
    border-color: var(--Kolor-Negatywny) !important;
}
.BorderColor-5 /* Kolor Niebieski. */
{
    border-color: var(--Kolor-Informacji) !important;
}

/* Globalne marginesy. */
.MarginTop /* Margines górny. */
{
    margin-top: var(--Space-Y);
}
.MarginBottom /* Margines dolny. */
{
    margin-bottom: var(--Space-Y);
}
.MarginLeftRight /* Marginesy boczne. */
{
    margin-left: var(--Space-X);
    margin-right: var(--Space-X);
}




/* Globalne wartości. */
html
{
    font-family: Verdana, serif;
    font-size: 1.0vw;
}

/* Podstawowe ustawienia dla elementu body */
body
{
    color: white;
    background-image: var(--Tło-Strony);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: var(--Motyw-Przezroczysty);
    margin: 0;
    padding: 0;
}

/* Customowy Scrollbar. */
*
{
    scrollbar-color: var(--Kolor-Dodatkowy) var(--Motyw);
}

/* Wygląd odnośnika. */
A
{
    color: inherit;
    text-decoration: none;
}
