/* Hr. */
.HrSeparator
{
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 1.0vw;
    margin-bottom: 1.0vw;
    display: flex;
}

    /* Nazwa Hr. */
    .HrSeparator > Div
    {
        font-size: 1.1rem;
        font-weight: bold;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-right: 0.5vw;
        display: flex;
    }

    /* Wygląd Hr bocznego. */
    .HrSeparator > .Hr
    {
        flex: 1;
    }
