/* Szeroki przycisk ButtonChoice. */
/* Design 1. */
Div.ButtonChoice-D1
{
    width: max-content;
    min-width: var(--Button-Height);
    height: var(--Button-Height);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Motyw);
    backdrop-filter: var(--Blur);
    border: 0.2vw solid var(--Motyw);
    border-radius: var(--Radius-1);
    box-sizing: border-box;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    display: inline-flex;
    cursor: pointer;
    overflow: hidden;
    box-shadow: var(--Przycisk-Cienie);
    user-select: none;
}

    /* Wygląd Img w przycisku. */
    Div.ButtonChoice-D1 > Img:nth-child(1)
    {
        height: 100%;
        max-width: 4.0vw;
        display: block;
    }

    /* Wygląd Img w przycisku. */
    Div.ButtonChoice-D1 > Img:nth-child(2)
    {
        height: 0.75vw;
        max-width: 0.75vw;
        background-color: var(--Motyw-Ciemny);
        border-radius: 0.23vw;
        display: block;
        position: absolute;
        bottom: 0.2vw;
        right: 0.2vw;
    }


/* Design 2. */
Div.ButtonChoice-D2
{
    width: 0.95vw;
    height: 0.95vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Motyw);
    backdrop-filter: var(--Blur);
    border: 0.2vw solid var(--Motyw);
    border-radius: 100%;
    box-sizing: border-box;
    margin-left: 0.1vw;
    margin-right: 0.1vw;
    display: inline-flex;
    cursor: pointer;
    overflow: hidden;
    box-shadow: var(--Przycisk-Cienie);
    user-select: none;
}
    /* Wygląd Img w przycisku. */
    Div.ButtonChoice-D2 > Img
    {
        display: none;
    }
    /* Kropka Wybranego. */
    Div.ButtonChoice-D2 > Div
    {
        width: 100%;
        height: 100%;
        background-color: var(--Kolor-Dodatkowy);
        opacity: 0.6;
        display: none;
    }


/* Aktywny. */
.ButtonChoice-Active
{
    background-color: var(--Motyw-Ciemny)!important;
    border-color: var(--Kolor-Dodatkowy)!important;
}
    /* Styl aktywny tylko dla Design 2. */
    .ButtonChoice-Active > Div
    {
        display: block!important;
    }