/* Menu2. */
.Menu2
{
    font-weight: bold;
    list-style: none;
    margin: 0.0vw;
    padding: 0.0vw;
    display: flex;
    user-select: none;
    z-index: 5;
}

/* Miejsce na przycisk. */
.Menu2 > Li
{
    width: max-content;
    height: var(--Button-Height);
    backdrop-filter: blur(0);
    margin-left: var(--Space-X);
    margin-right: var(--Space-X);
}

/* Początek menu rozwijanego. */
.Menu2 > Li > .Menu2
{
    width: 100%;
    background-color: var(--Motyw);
    border-radius: 0 0 var(--Radius-3) var(--Radius-3);
    list-style: none;
    margin: 0.0vw;
    padding: 0.2vw 0.0vw 0.2vw 0.0vw;
    display: none;
    position: absolute;
    top: 100%;
    left: 0.0vw;
    cursor: default;
}

/* Uwidacznianie rozwiniętego menu po najechaniu. */
.Menu2 > Li:hover > .Menu2
{
    display: block;
}

/* Uwidacznianie rozwiniętego menu po najechaniu. */
.Menu2 > Li:hover
{
    background-color: var(--Motyw);
    border-radius: var(--Radius-1) var(--Radius-1) 0 0;
}

/* Miejsce na przycisk w menu rozwijanym. */
.Menu2 > Li > .Menu2 > Li
{
    width: 92%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 0.4vw;
    margin-bottom: 0.4vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    cursor: pointer;
    transition: var(--Animacja);
}

/* Wymuszenie szerokości na elementach menu rozwijanego. */
.Menu2 > Li > .Menu2 > Li > *
{
    width: 100%!important;
}
