/* Nadpisany: Input do Klikania. */
Input.XInput[type="submit"], Input.XInput[type="button"]
{
    min-width: var(--Przycisk-Szerokość-I);
    width: 0.0vw;
    height: var(--Przycisk-Wysokość);
    align-items: center;
    text-align: center;
    font-size: 1.0rem;
    font-weight: bold;
    color: inherit;
    justify-content: center;
    background-color: var(--Kolor-Dodatkowy);
    border-radius: var(--Radius-I);
    border: 0.0vw;
    margin-left: var(--Przycisk-Odstep);
    margin-right: var(--Przycisk-Odstep);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    cursor: pointer;
    user-select: none;
    transition: var(--Animacja);
}
/* Wygląd Przycisku po Najechaniu. */
Input.XInput[type="submit"]:hover, Input.XInput[type="button"]:hover
{
    background-color: var(--Motyw-Czarny)!important;
}
/* Wygląd Przycisku po Aktywacji. */
Input.XInput[type="submit"]:active, Input.XInput[type="button"]:active
{
    background-color: var(--Motyw)!important;
}


/* Nadpisany: Input do Wyszukiwania. */
Input.XInput[type="text"], Input.XInput[type="password"]
{
    min-width: var(--Przycisk-Szerokość-I);
    width: 0;
    height: var(--Przycisk-Wysokość);
    color: inherit;
    font-size: 1.0rem;
    font-weight: bold;
    background-color: var(--Motyw);
    border: 0.2vw solid var(--Kolor-Dodatkowy);
    border-radius: var(--Radius-I);
    box-sizing: border-box;
    margin-left: var(--Przycisk-Odstep);
    margin-right: var(--Przycisk-Odstep);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    cursor: pointer;
    transition: var(--Animacja);
}
/* Wygląd Podczas Wpisywania i po Wpisaniu. */
Input.XInput[type="text"]:focus, Input.XInput[type="text"]:valid:not(:placeholder-shown),
Input.XInput[type="password"]:focus, Input.XInput[type="password"]:valid:not(:placeholder-shown)
{
    background-color: var(--Motyw-Ciemny);
    cursor: text;
}
/* Nadpisanie Placecholder. */
Input.XInput[type="text"]::placeholder, Input.XInput[type="password"]::placeholder
{
    color: white;
    opacity: 0.6;
}


/* Aktywny. */
Input[type="Submit"].XInput-Active, Input[type="Button"].XInput-Active,Input[type="text"].XInput-Active, Input[type="password"].XInput-Active
{
    background-color: var(--Motyw-Ciemny)!important;
}