/* Styl dla niestandardowego przycisku, który zastąpi input[type="file"] */
Label.FileInput
{
    min-width: var(--Przycisk-Szerokość-II);
    width: max-content;
    height: var(--Przycisk-Wysokość);
    font-size: 0.9rem;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: var(--Kolor-Dodatkowy);
    backdrop-filter: var(--Blur);
    background-position: 94% center;
    background-size: auto 50%;
    background-repeat: no-repeat;
    border-radius: var(--Radius-I);
    margin-left: var(--Przycisk-Odstep);
    margin-right: var(--Przycisk-Odstep);
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: var(--Animacja);
    overflow: hidden;
    position: relative;
}
    /* Wygląd Inputu po najechaniu. */
    Label.FileInput:hover, Label.FileInput:hover
    {
        background-color: var(--Motyw-Czarny) !important;
    }

    /* Wygląd Inputu po aktywacji. */
    Label.FileInput:active, Label.FileInput:active
    {
        background-color: var(--Motyw) !important;
    }

/* Input typu File */
Label.FileInput > Input[type="file"]
{
    display: none;
}

/* Wygląd aktywny. */
Label.FileInput-Active
{
    min-width: calc(var(--Przycisk-Szerokość-II) - var(--Przycisk-Wysokość) - 2 * var(--Przycisk-Odstep));
    background-color: var(--Motyw-Ciemny);
}

/* Nadpisanie Koloru przycisku obok. */
Label.FileInput-Active + Div
{
    background-color: var(--Kolor-Negatywny)!important;
}