/* Pole trzymający przycisk. */
.InputFile
{
    width: max-content;
    display: inline-flex;
}

/* Niestandardowy newInputFile. */
.newInputFile
{
    height: var(--Button-Height);
    width: 100%;
    font-weight: bold;
    color: white;
    justify-content: center;
    align-items: center;
    background-color: var(--Kolor-Dodatkowy);
    backdrop-filter: var(--Blur);
    background-position: 92% center;
    background-size: auto 50%;
    background-repeat: no-repeat;
    border-radius: var(--Radius-1);
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: var(--Animacja);
    overflow: hidden;
    position: relative;
    box-shadow: var(--Przycisk-Cienie);
}
    /* Wygląd Inputu po najechaniu. */
    .newInputFile:hover
    {
        background-color: var(--Motyw-Ciemny)!important;
    }
    /* Wygląd Inputu po aktywacji. */
    .newInputFile:active
    {
        background-color: var(--Motyw)!important;
    }

    /* Nazwa pliku. */
    .newInputFile > Span
    {
        font-size: 0.9rem;
        margin-left: auto;
        margin-right: auto;
    }

    /* Pole trzymaj. */
    .newInputFile > Div
    {
        height: var(--Button-Height);
        justify-content: center;
        align-items: center;
        text-align: center;
        display: flex;
    }
        /* Ptaszek oznaczający poprawny format pliku. */
        .newInputFile > Div > Img
        {
            width: calc(var(--Button-Height) * 0.55);
            height: calc(var(--Button-Height) * 0.55);
        }

/* Ukrycie oryginalnego input file. */
.newInputFile > Input[type="file"]
{
    visibility: hidden;
    position: absolute;
}


/* Wygląd aktywny. */
.newInputFile-Active
{
    background-color: var(--Motyw-Czarny)!important;
    padding-left: calc(0.5vw + var(--Button-Height) * 0.55);
}
    /* Nadpisanie Koloru przycisku obok. */
    .newInputFile-Active + .Button
    {
        min-width: var(--Button-Height);
        margin-left: var(--Space-X);
        margin-right: 0;
    }

/* Wyłączenie newInputFile . */
.newInputFile.newInputFile-noActive
{
    background-color: var(--Kolor-Oznaczenia)!important;
    cursor: default;
    pointer-events: none;
}