/* Pole Loga. */
A.XButtonLogo
{
    height: 2.8vw;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: var(--Radius-I);
    padding-top: 0.15vw ;
    padding-bottom: 0.15vw;
    padding-left: 0.25vw;
    padding-right: 0.25vw;
    display: flex;
    cursor: pointer;
    transform: var(--Animacja);
}

/* Po najechaniu. */
A.XButtonLogo:hover
{
    background-color: var(--Motyw-Ciemny)!important;
}

/* Po kliknięciu. */
A.XButtonLogo:active
{
    background-color: var(--Motyw)!important;
}

    /* Wygląd Zdjęcia w Przycisku. */
    A.XButtonLogo > Img
    {
        height: 90%;
    }

    /* Wygląd Nazwy w Przycisku. */
    A.XButtonLogo > Div
    {
        font-weight: bold;
        font-size: 1.05rem;
        margin-left: 0.25vw;
    }
        /* Wygląd Nazwy w Przycisku. */
        A.XButtonLogo > *:first-child
        {
            margin-left: 0.0vw!important;
        }
