/* Prywatne zmienne CSS. */
:root
{
    --Header-Width: 92.0%;
    --Header-Height: 4.0vw;
}


/* Design 1. */
Div.Header-D1
{
    max-width: var(--Header-Width);
    width: inherit;
    min-height: var(--Header-Height);
    font-size: 1.0rem;
    border-radius: var(--Radius-3);
    background-color: var(--Motyw);
    margin: 1.0vw auto 1.5vw;
    display: flex;
}
    /* Obrazek w Header. */
    Div.Header-Img
    {
        background-image: linear-gradient(to right, var(--Motyw), transparent 190%), var(--Tło-Menu);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 25%;
    }

    /* Styl globalny dla dzieci. */
    Div.Header-D1 > Div
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }
    /* Lewy nagłówek. */
    Div.Header-D1 > Div.HeaderLeft
    {
        margin-right: auto;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
    }
    /* Środkowy nagłówek. */
    Div.Header-D1 > Div.HeaderCenter
    {
        margin-left: auto;
        margin-right: auto;
        padding-right: 1.5vw;
        padding-left: 1.5vw;
    }
    /* Prawy nagłówek. */
    Div.Header-D1 > Div.HeaderRight
    {
        margin-left: auto;
        padding-right: 1.5vw;
        padding-left: 1.5vw;
    }

        /* Separator nagłówka. */
        Div.Header-D1 Div.HeaderSpace
        {
            width: 0.5vw;
            height: 100%;
        }


/* Design 2. */
Div.Header-D2
{
    width: var(--Header-Width);
    min-height: var(--Header-Height);
    font-size: 1.0rem;
    margin: 1.0vw auto 1.5vw auto;
    display: flex;
}
    /* Styl globalny dla dzieci. */
    Div.Header-D2 > Div
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }

    /* Lewy nagłówek. */
    Div.Header-D2 > Div.HeaderLeft
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-3);
        margin-right: auto;
        padding-left: 1.0vw;
        padding-right: 1.0vw;
    }

    /* Środkowy nagłówek. */
    Div.Header-D2 > Div.HeaderCenter
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-3);
        margin-left: auto;
        margin-right: auto;
        padding-right: 1.0vw;
        padding-left: 1.0vw;
    }

    /* Prawy nagłówek. */
    Div.Header-D2 > Div.HeaderRight
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-3);
        margin-left: auto;
        padding-right: 1.0vw;
        padding-left: 1.0vw;
    }

        /* Separator nagłówka. */
        Div.Header-D2 Div.HeaderSpace
        {
            width: 0.5vw;
            height: 100%;
        }
