/* Niepubliczny Root. */
:root
{
    --Szerokosc: 92.0vw;
    --MinWysokosc: 4.0vw;
}


/* Design 1. */
Div.Header-D1
{
    width: var(--Szerokosc);
    min-height: var(--MinWysokosc);
    font-size: 1.0rem;
    border-radius: var(--Radius-3);
    background-color: var(--Motyw);
    background-image: linear-gradient(to right, var(--Motyw), transparent 190%), var(--Tło-Menu);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25%;
    margin-top: 1.0vw;
    margin-bottom: 1.5vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    /*position: fixed;*/
    /*z-index: 5;*/
    /*top: 1.0vw;*/
    /*left: 4.0vw;*/
    /*right: 4.0vw;*/
}
    /* Styl globalny dla piewszych dzieci. */
    Div.Header-D1 > Div
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }
    /* Lewy nagłówek. */
    Div.Header-D1 > Div.HeaderLeft
    {
        padding-left: 1.5vw;
        padding-right: 1.0vw;
    }
    /* Środkowy nagłówek. */
    Div.Header-D1 > Div.HeaderCenter
    {
        padding-right: 1.5vw;
    }
    /* Prawy nagłówek. */
    Div.Header-D1 > Div.HeaderRight
    {
        margin-left: auto;
        padding-right: 1.5vw;
        padding-left: 1.5vw;
    }


/* Design 2. */
Div.Header-D2
{
    width: var(--Szerokosc);
    min-height: var(--MinWysokosc);
    font-size: 1.0rem;
    margin: 1.0vw auto 1.5vw auto;
    display: flex;
}
    /* Styl globalny dla piewszych dzieci. */
    Div.Header-D2 > Div
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }

    /* Lewy nagłówek. */
    Div.Header-D2 > Div.HeaderLeft
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-3) 0 0 var(--Radius-3);
        padding-left: 1.3vw;
        padding-right: 0.3vw;
    }

    /* Środkowy nagłówek. */
    Div.Header-D2 > Div.HeaderCenter
    {
        background-color: var(--Motyw);
        border-radius: 0 var(--Radius-3) var(--Radius-3) 0;
        padding-right: 1.3vw;
    }

    /* Prawy nagłówek. */
    Div.Header-D2 > Div.HeaderRight
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-3);
        margin-left: auto;
        padding-right: 1.3vw;
        padding-left: 1.3vw;
    }
