/* InputNumber. */
.InputNumber
{
    width: min-content;
    display: inline-flex;
}

/* Usunięcie domyślnych wartości. */
.InputNumber Input[type="number"]::-webkit-inner-spin-button,
.InputNumber Input[type="number"]::-webkit-outer-spin-button,
.InputNumber Input[type="number"]
{
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

/* Nadpisanie wyglądu inputu. */
.InputNumber > Input[type="number"]
{
    width: 100%;
    min-width: var(--Button-Height);
    height: var(--Button-Height);
    color: inherit;
    font-size: 1.0rem;
    font-weight: bold;
    background-color: var(--Motyw);
    backdrop-filter: var(--Blur);
    border: 0.2vw solid var(--Kolor-Dodatkowy);
    border-radius: var(--Radius-1);
    box-sizing: border-box;
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    display: inline-flex;
    cursor: pointer;
    transition: var(--Animacja);
    box-shadow: var(--Przycisk-Cienie);
}
    /* Dodanie animacji. */
    .InputNumber > Input[type="number"]:focus,
    .InputNumber > Input[type="number"]:valid:not(:placeholder-shown)
    {
        background-color: var(--Motyw-Ciemny);
        cursor: text;
    }

    /* Zachowanie placeholder. */
    .InputNumber > Input[type="number"]::placeholder
    {
        color: white;
        opacity: 0.6;
    }

/* Nadpisanie Button'a. */
.InputNumber > .Button:first-of-type
{
    min-width: var(--Button-Height);
    margin-left: 0;
}

/* Nadpisanie Button'a. */
.InputNumber > .Button:last-of-type
{
    min-width: var(--Button-Height);
    margin-right: 0;
}


/* Niekatywny InputNumber. */
.InputNumber-noActive > Input
{
    background-color: var(--Motyw);
    border-color: var(--Kolor-Oznaczenia);
    cursor: default;
    pointer-events: none;
}

/* Specialne wyśrodkowanie dla minimalnych wielkości Inputu. */
.InputNumber.Width-0 > Input[type="number"]
{
    text-align: center;
}
