/* Niepubliczny Root. */
:root
{
    --Szerokosc: 92.0vw;
    --MinWysokosc: 4.5vw;
}

/* Design 1. */
Div.XHeader-D1
{
    width: var(--Szerokosc);
    min-height: var(--MinWysokosc);
    font-size: 1.0rem;
    border-radius: var(--Radius-II);
    background-color: var(--Motyw);
    margin: 1.0vw auto 1.5vw auto;
    display: flex;
}
    /* Styl globalny dla piewszych dzieci. */
    Div.XHeader-D1 > *
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }
    /* Lewy nagłówek. */
    Div.XHeader-D1 > Div.XHeaderLeft
    {
        padding-left: 1.5vw;
        padding-right: 1.0vw;
    }
    /* Środkowy nagłówek. */
    Div.XHeader-D1 > Div.XHeaderCenter
    {
        min-width: 5vw;
        padding-right: 1.5vw;
    }
    /* Prawy nagłówek. */
    Div.XHeader-D1 > Div.XHeaderRight
    {
        margin-left: auto;
        padding-right: 1.5vw;
        padding-left: 1.5vw;
    }


/* Design 2. */
Div.XHeader-D2
{
    width: var(--Szerokosc);
    min-height: var(--MinWysokosc);
    font-size: 1.0rem;
    border-radius: var(--Radius-II);
    background-color: var(--Motyw);
    background-position: right;
    background-repeat: no-repeat;
    background-size: 25%;
    background-image: linear-gradient(to right, var(--Motyw), transparent 190%), var(--Tło-Dodatkowe);
    margin: 1.0vw auto 1.5vw auto;
    display: flex;
}
    /* Styl globalny dla piewszych dzieci. */
    Div.XHeader-D2 > *
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }
    /* Lewy nagłówek. */
    Div.XHeader-D2 > Div.XHeaderLeft
    {
        padding-left: 1.5vw;
        padding-right: 1.0vw;
    }
    /* Środkowy nagłówek. */
    Div.XHeader-D2 > Div.XHeaderCenter
    {
        min-width: 5vw;
        padding-right: 1.5vw;
    }
    /* Prawy nagłówek. */
    Div.XHeader-D2 > Div.XHeaderRight
    {
        margin-left: auto;
        padding-right: 1.5vw;
        padding-left: 1.5vw;
    }


/* Design 3. */
Div.XHeader-D3
{
    width: var(--Szerokosc);
    min-height: var(--MinWysokosc);
    font-size: 1.0rem;
    margin: 1.0vw auto 1.5vw auto;
    display: flex;
}
    /* Styl globalny dla piewszych dzieci. */
    Div.XHeader-D3 > *
    {
        padding-top: 0.5vw!important;
        padding-bottom: 0.5vw!important;
        text-align: center;
        align-items: center;
        display: flex;
    }
    Div.XHeader-D3 > Div.XHeaderLeft
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-II) 0 0 var(--Radius-II);
        padding-left: 1.3vw;
        padding-right: 0.3vw;
    }
    Div.XHeader-D3 > Div.XHeaderCenter
    {
        min-width: 5vw;
        background-color: var(--Motyw);
        border-radius: 0 var(--Radius-II) var(--Radius-II) 0;
        padding-right: 1.3vw;
    }
    Div.XHeader-D3 > Div.XHeaderRight
    {
        background-color: var(--Motyw);
        border-radius: var(--Radius-II);
        margin-left: auto;
        padding-right: 1.3vw;
        padding-left: 1.3vw;
    }
