/* Ramka Przedmiotów. */
Div.InfoFrame
{
    width: 55vw;
    background-color: var(--Motyw-Ciemny);
    border-left: 0.3vw solid var(--Motyw-Ciemny);
    border-right: 0.3vw solid var(--Motyw-Ciemny);
    border-radius: var(--Radius-III);
    margin-bottom: 1.5vw!important;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1.5vw;
}
    /* Usuwanie dolnego amrginesu ostatniej ramki. */
    Div.InfoFrame:last-of-type
    {
        margin-bottom: 0;
    }

/* Nazwa Przedmiotu. */
Div.InfoFrame > Div.InfoFrame-Name
{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 1.0vw;
    padding-bottom: 1.0vw;
}

/* Pole ze zdjęciem i opisem. */
Div.InfoFrame > Div.InfoFrame-Describe
{
    padding-bottom: 1.5vw;
    padding-right: 1.0vw;
    padding-left: 1.0vw;
    display: flex;
}

    /* Opis przedmiotu [Zdjęcie] [1/2]. */
    Div.InfoFrame > Div.InfoFrame-Describe > Div.InfoFrame-Describe-Img
    {
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        border-right: 0.2vw solid var(--Kolor-Dodatkowy);
        flex: 1;
        display: flex;
    }

        /* Zdjęcie w powyższym elemencie. */
        Div.InfoFrame > Div.InfoFrame-Describe > Div.InfoFrame-Describe-Img > Img
        {
            max-width: 70%;
            max-height: 10vw;
            border-radius: var(--Radius-II);
        }

    /* Wariant gdy jest sam orbazek bez opisu. */
    Div.InfoFrame > Div.InfoFrame-Describe > Div.InfoFrame-Describe-Img:only-of-type
    {
        border-right: 0;
    }

        /* Zdjęcie w powyższym elemencie. */
        Div.InfoFrame > Div.InfoFrame-Describe > Div.InfoFrame-Describe-Img:only-of-type > Img
        {
            max-width: 30%;
            max-height: 10vw;
            border-radius: var(--Radius-II);
        }

    /* Opis Przedmiotu [Opis] [2/2]. */
    Div.InfoFrame > Div.InfoFrame-Describe > Div.InfoFrame-Describe-Describe
    {
        font-size: 0.95rem;
        align-items: center;
        text-align: left;
        padding-left: 1.5vw;
        padding-right: 0.5vw;
        flex: 4;
        display: flex;
    }


/* Nadpisanie paddingu w Pole_Przwiajania_Zdjęć-Poziom dla lepszego wyglądu. */
Div.InfoFrame > Div.InfoFrame-Img
{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
}

    /* Nadpisanie paddingu w Pole_Przwiajania_Zdjęć-Poziom dla lepszego wyglądu. */
    Div.InfoFrame > Div.InfoFrame-Img > Div.InfoFrame-Img-Choice
    {
        max-width: 8.4vw;
        overflow: auto;
    }

        /* Obszar trzymający małe zdjęcia do przewijania. */
        Div.InfoFrame > Div.InfoFrame-Img > Div.InfoFrame-Img-Choice > Div
        {
            width: max-content;
            text-align: center;
            justify-content: center;
            align-items: center;
            display: flex;
        }