/* Małe Przyciski, Pole trzymające mały przycisk. */
/* Design 1 [Kwadrat]. */
Div.Button-D1
{
    width: var(--Button-Height);
    height: var(--Button-Height);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Kolor-Dodatkowy);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-1);
    display: inline-flex;
    cursor: pointer;
    transition: var(--Animacja);
    box-shadow: var(--Przycisk-Cienie);
    user-select: none;
}
    /* Przycisk po najechaniu. */
    Div.Button-D1:hover
    {
        background-color: var(--Motyw-Ciemny)!important;
    }
    /* Przycisk po kliknięciu. */
    Div.Button-D1:active
    {
        background-color: var(--Motyw)!important;
    }
    /* Wygląd obrazka w przycisku. */
    Div.Button-D1 Img
    {
        max-width: 65.0%;
        height: 65.0%;
    }


/* Design 2 [Prostokąt]. */
Div.Button-D2
{
    min-height: var(--Button-Height);
    width: max-content!important;
    height: var(--Button-Height);
    font-size: 1.0rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--Kolor-Dodatkowy);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-1);
    display: inline-flex;
    cursor: pointer;
    transition: var(--Animacja);
    box-shadow: var(--Przycisk-Cienie);
    user-select: none;
}

    /* Po Najechaniu. */
    Div.Button-D2:hover
    {
        background-color: var(--Motyw-Ciemny)!important;
    }
    /* Po Kliknięciu. */
    Div.Button-D2:active
    {
        background-color: var(--Motyw)!important;
    }
    /* Wygląd obrazka w przycisku. */
    Div.Button-D2 Img
    {
        max-width: 65.0%;
        height: 65.0%;
        margin-right: 0.5vw;
    }
    /* Wygląd tytułu w przycisku. */
    Div.Button-D2 > Div
    {
        width: max-content;
    }


/* Wygląd linku w przycisku. */
Div.Button-D2 > A, Div.Button-D1 > A
{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


/* Nieaktywny Przycisk. */
Div.Button-noActive
{
    background-color: var(--Kolor-Oznaczenia);
    cursor: default;
    pointer-events: none;
}


/* Zawijanie tekstu. */
Div.Button-Wrap
{
    height: auto;
}
    /* . */
    Div.Button-Wrap > Div
    {
        width: min-content;
        word-wrap: break-word;
    }

/* Nadpisanie globalnego stylu spcialnie dla przycisku. */
Div.Button.Width-0
{
    padding-left: 0.5vw;
    padding-right: 0.5vw;
}