/* Małe Przyciski, Pole trzymające mały przycisk. */
/* Design 1 [Kwadrat]. */
Div.Button-D1
{
    min-width: 0.0vw!important;
    width: var(--Przycisk-Wysokość);
    height: var(--Przycisk-Wysokość);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Kolor-Dodatkowy);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-1);
    display: inline-flex;
    cursor: pointer;
    transition: var(--Animacja);
    box-shadow: var(--Przycisk-Cienie);
}
    /* Przycisk po najechaniu. */
    Div.Button-D1:hover
    {
        background-color: var(--Motyw-Ciemny)!important;
    }
    /* Przycisk po kliknięciu. */
    Div.Button-D1:active
    {
        background-color: var(--Motyw)!important;
    }
    /* Wygląd obrazka w przycisku. */
    Div.Button-D1 > Img
    {
        max-width: 65%;
        max-height: 65%;
    }


/* Design 2 [Szeroki]. */
Div.Button-D2
{
    height: var(--Przycisk-Wysokość);
    width: max-content!important;
    font-size: 1.0rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--Kolor-Dodatkowy);
    backdrop-filter: var(--Blur);
    border-radius: var(--Radius-1);
    display: inline-flex;
    cursor: pointer;
    user-select: none;
    transition: var(--Animacja);
    box-shadow: var(--Przycisk-Cienie);
}

    /* Po Najechaniu. */
    Div.Button-D2:hover
    {
        background-color: var(--Motyw-Ciemny)!important;
    }
    /* Po Kliknięciu. */
    Div.Button-D2:active
    {
        background-color: var(--Motyw)!important;
    }
    /* Wygląd obrazka w przycisku. */
    Div.Button-D2 > Img
    {
        max-width: 65%;
        max-height: 65%;
        margin-left: 0.25vw;
        margin-right: 0.25vw;
    }
    /* Wygląd tytułu w przycisku. */
    Div.Button-D2 > Div
    {
        margin-left: 0.25vw;
        margin-right: 0.25vw;
    }


/* Wygląd linku w przycisku. */
Div.Button-D2 > A, Div.Button-D1 > A
{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}


/* Nieaktywny Przycisk. */
Div.Button-noActive,
Div.Button-noActive:hover,
Div.Button-noActive:active
{
    background-color: var(--Kolor-Oznaczenia)!important;
    cursor: unset;
}

/* Margines dolny. */
Div.Button-MarginBottom
{
    margin-bottom: var(--Przycisk-Odstep-Y);
}
    /* Jeśli jest ostatni to styl niedziała. */
    Div.Button-MarginBottom:last-of-type
    {
        margin-bottom: 0.0vw!important;
    }

/* Margines lewy i prawy. */
Div.Button-MarginLeftRight
{
    margin-left: var(--Przycisk-Odstep-X);
    margin-right: var(--Przycisk-Odstep-X);
}
