/* ButtonAccount. */
/* Design 1. */
Div.ButtonAccount-D1
{
    min-width: var(--Przycisk-Szerokość-I);
    height: var(--Przycisk-Wysokość);
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.95rem;
    background-color: var(--Motyw-Ciemny);
    border-radius: var(--Radius-I);
    margin-left: var(--Przycisk-Odstep);
    margin-right: var(--Przycisk-Odstep);
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: var(--Animacja);
}

/* Nickname. */
Div.ButtonAccount-D1 > Div.ButtonAccount-Title
{
    font-weight: bold;
    margin-left: auto;
}

/* . */
Div.ButtonAccount-D1 > Div.ButtonAccount-Title > Div:nth-child(1)
{
    font-weight: bold;
    font-size: 0.95rem;
}

/* . */
Div.ButtonAccount-D1 > Div.ButtonAccount-Title > Div:nth-child(2)
{
    font-weight: normal;
    font-size: 0.6rem;
}

/* Miejsce na Avatar. */
Div.ButtonAccount-D1 > Div.ButtonAccount-Img
{
    width: var(--Przycisk-Wysokość);
    height: var(--Przycisk-Wysokość);
    background-image: url("/public/Ikonki/Konto.png");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--Kolor-Dodatkowy);
    border-radius: var(--Radius-I);
    margin-left: auto;
}
    /* Wygląd Img. */
    Div.ButtonAccount-D1 > Div.ButtonAccount-Img > Img
    {
        max-width: 100%;
        max-height: 100%;
        border-radius: inherit;
    }
    /*!* Przycisk z img jest transparentny. *!*/
    /*Div.ButtonAccount-D1:hover Div.ButtonAccount-Img, Div.ButtonAccount-D1:active Div.ButtonAccount-Img*/
    /*{*/
    /*    background-color: transparent;*/
    /*}*/
    /*!* Przycisk po kliknięciu. *!*/
    /*Div.ButtonAccount-D1:active*/
    /*{*/
    /*    background-color: var(--Motyw)!important;*/
    /*}*/


/* Design 2. */
Div.ButtonAccount-D2
{
    min-width: var(--Przycisk-Szerokość-I);
    height: var(--Przycisk-Wysokość);
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--Motyw-Ciemny);
    border-radius: var(--Radius-I);
    margin-left: var(--Przycisk-Odstep);
    margin-right: var(--Przycisk-Odstep);
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: var(--Animacja);
}

/* Nickname. */
Div.ButtonAccount-D2 > Div.ButtonAccount-Title
{
    font-weight: bold;
    font-size: 1.0rem;
    margin-right: auto;
}

/* Miejsce na Avatar. */
Div.ButtonAccount-D2 > Div.ButtonAccount-Img
{
    width: var(--Przycisk-Wysokość);
    height: var(--Przycisk-Wysokość);
    background-image: url("/public/Ikonki/Konto.png");
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--Kolor-Dodatkowy);
    border-radius: var(--Radius-I);
    margin-right: auto;
}
    /* Wygląd Img. */
    Div.ButtonAccount-D2 > Div.ButtonAccount-Img > Img
    {
        max-width: 100%;
        max-height: 100%;
    }
    /*!* Przycisk z img jest transparentny. *!*/
    /*Div.ButtonAccount-D2:hover Div.ButtonAccount-Img, Div.ButtonAccount-D2:active Div.ButtonAccount-Img*/
    /*{*/
    /*    background-color: transparent;*/
    /*}*/
    /*!* Przycisk po kliknięciu. *!*/
    /*Div.ButtonAccount-D2:active*/
    /*{*/
    /*    background-color: var(--Motyw)!important;*/
    /*}*/


/* Szerokość 1. */
Div.ButtonAccount-W1
{
    min-width: 0.0vw!important;
}

/* Szerokość 1. */
Div.ButtonAccount-W1
{
    min-width: var(--Przycisk-Szerokość-I)!important;
}

/* Szerokość 2. */
Div.ButtonAccount-W2
{
    min-width: var(--Przycisk-Szerokość-II)!important;
}

/* Szerokość 3. */
Div.ButtonAccount-W3
{
    min-width: var(--Przycisk-Szerokość-III)!important;
}


