/* Duży Przycisk z Tekstem. */
Div.XPSzeroki
{
    height: var(--Przycisk-Wysokość);
    font-size: 1.0rem;
    font-weight: bold;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--Kolor-Dodatkowy);
    border-radius: var(--Radius-I);
    display: flex;
    cursor: pointer;
    user-select: none;
    transition: var(--Animacja);
}
/* Po Najechaniu. */
Div.XPSzeroki:hover
{
    background-color: var(--Motyw-Czarny)!important;
}
/* Po Kliknięciu. */
Div.XPSzeroki:active
{
    background-color: var(--Motyw)!important;
}


/* Styl 1. */
Div.XPSzeroki-S1
{
    min-width: var(--Przycisk-Szerokość-I);
}
/* Styl 2. */
Div.XPSzeroki-S2
{
    min-width: var(--Przycisk-Szerokość-II);
}
/* Styl 3. */
Div.XPSzeroki-S3
{
    min-width: var(--Przycisk-Szerokość-III);
}


/* Aktywny. */
Div.XPSzeroki-Aktywny
{
    background-color: var(--Motyw-Ciemny);
}


/* Poziomy. */
Div.XPSzeroki-Poziom
{
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}
/* Pionowy. */
Div.XPSzeroki-Pion
{
    margin-bottom: 0.5vw;
    margin-left: 0.25vw;
    margin-right: 0.25vw;
}
    /* Pionowy. */
    Div.XPSzeroki-Pion:last-of-type
    {
        margin-bottom: 0.0vw;
    }